
.names-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    /*background-color: rgba(28, 190, 133, 0.29);*/
}

.card {
    /*width: 500px;*/
}